name: Build Docker Image

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:  # Позволяет запускать вручную

jobs:
  build:
    runs-on: ubuntu-latest  # Это amd64!
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.kashtanvladislav }}
        password: ${{ secrets.dckr_pat_qbVcNJcGskfVbkkkyU4dh96vIyg }}
    
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64
        push: true
        tags: kashtanvladislav/golang-redis-app:0.0.2
